name: Create Release

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      -
        name: Build and push
        uses: docker/build-push-action@v2
        with:
          push: true
          registry: ghcr.io
          repository: lumibar/sj8-counter
          tags: ${{ github.sha }}
          dockerfile: Dockerfile
